.listImage {
  width: 250px;
  height: 350px;
}

.userListContainer {
  background-color: rgb(244, 244, 244);
  width: 250px;
  text-decoration: none;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 37px;
  font-family: 'Heebo', sans-serif;
  box-shadow: 0px 0px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.userListContainer:hover > *,
.userListContainer:focus-within > * {
  opacity: 0.4;
}

.userListContainer:hover > :hover,
.userListContainer:focus-within > :focus {
  transform: scale(1.1);
  opacity: 1;
}

.ulList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 100px 50px 100px;
  column-gap: 4%;
  list-style: none;
}

.projectId {
  margin-top: 10%;
}

.infoStuff {
  text-align: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  list-style: none;
  padding-top: 5%;
  padding-bottom: 8%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: underline;
  color: rgb(43, 44, 40);
}

a:link {
  color: rgb(43, 44, 40);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(43, 44, 40);
}

.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 10px 0px 10px;
}
