@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}


.listImage{
  width: 250px;
  height: 255px;
  text-decoration: none;

}

.userListContainer{
  background-color: rgb(244, 244, 244);
  width: 260px;
  height: 325px;;
  text-decoration: none;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 43px;
  font-family: 'Heebo', sans-serif;

}

.userListContainer:hover > *,
.userListContainer:focus-within > * {
  opacity: 0.4;
}

.userListContainer:hover > :hover,
.userListContainer:focus-within > :focus {
  transform: scale(1.1);
  opacity: 1;
}

.userStuff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 100px auto 100px; 
  column-gap: 35px;
  row-gap: 0px;
  text-decoration: none;
  list-style: none;
  background-color: rgba(24, 24, 24, 0.963);
  padding-bottom: 10%;
  font-family: 'Heebo', sans-serif;
}


.userNameStuff {
  font-family: 'Heebo', sans-serif;
}
