.aboutContainer {
  background-color: rgb(25, 23, 23);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.305);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 200px auto 200px; 
  column-gap: 55px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 4%;
  height: 70vh;
  width: 92vw;
  padding-right: 3%;
}

.personContainer {
  color: rgb(255, 255, 255);
}

.picContainer {
  padding: 20px;
  width: 17vw;
}

.ktImage {
  height: 250%;
  width: 125%;

}

.contactImage {
  height: 50px;
  width: 50px;
  padding: 7px;
}

span {
text-align: center;
padding-left: 4%;
padding-right: 4%;
}

.aboutNames {
  text-align: center;
}
