.aboutContainer {
  background-color: rgb(232, 232, 232);
  padding-top: 12%;
  padding-bottom: 12%;
  padding-right: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 200px auto 200px; 
  column-gap: 55px;
  row-gap: 0px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.personContainer {
  color: rgb(43, 44, 40);
}

.picContainer {
  padding: 30px;
  width: 20vw;
}

.ktImage {
  height: 250%;
  width: 125%;
  border-radius: 10px;
}

.contactImage {
  height: 50px;
  width: 50px;
  padding: 8px;
  margin-left: 6%;
}

span {
text-align: center;
padding-left: 4%;
padding-right: 4%;
}

.aboutNames {
  text-align: center;
  padding-left: 45px;
}
