body {
  background-color: rgb(232, 232, 232);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.page {
  margin-top: 70px;
}

@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}
