.navContainer {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 2em;
  z-index: 2;
}

.navItem {
  margin-left: 33px;
  display: inline-block;
  color: rgb(43, 44, 40);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: sans-serif;
}

.navItem:hover {
  background-color: rgba(214, 204, 61, 0.911);
  color: black;
  border-radius: 10px;
}

.navItem a:link {
  color: white;
}

.navItem a:visited {
  color: white;
}
.navRight {
  float: right;
  margin-right: 50px;
}
