.navContainer {
  background-color: rgb(250, 249, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  line-height: 2em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navItem {
  margin-left: 33px;
  display: inline-block;
  color: rgb(43, 44, 40);
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navItem:hover {
  text-decoration: underline;
  color: rgb(43, 44, 40);
}

.navItem a:link {
  color: rgb(43, 44, 40);
  text-decoration: none;
}

.navItem a:visited {
  color: rgb(43, 44, 40);
}
