@font-face {
   font-family: Lemon Milk;
   src: 'src/components/home/homeAssets/font/LEMONMILK-Regular.otf';
 }

.homeTitle {
    margin: 100px;
 }
  
 h1  {
    text-align: center;
    font-size: 35px;
    font-family: Lemon Milk;
 }
  
 h2  {
    font-size: large;
    font-family: Lemon Milk;
 }
  
 h3  {
    font-size: medium;
    font-family: Lemon Milk;
 }

  
 p {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 2;
 }
  
  
 section {
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 .subFeatArticles {
   font-family: Lemon Milk;
   
 }