

h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-size: medium;
  font-family: 'Heebo', sans-serif;
}

hr {
  width: 350px;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}

section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  height: 10%;
  width: 50%;
}

@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}

.homeTitle {
  margin: 100px;
}

.featImageContainer { 
  margin: 30px;
}

.featImage {
  box-shadow: black 0 0 20px;
}

.Begin {
  margin-top: 5vh;
  text-align: center;
}

.movieTitle {
  font-size: larger;
  font-family: 'Heebo', sans-serif;
}

.articleFilm {
  background-color: rgba(0, 0, 0, 0.253);
  width: 80vw;
  justify-content: center;
}

.allSections {
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 20px;
}

.Begin { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.inBegin {
  border: black solid 1px;
  box-shadow: black 0 0 50px;
  background-color: rgba(0, 0, 0, 0.253);
  width: 90vw; 
  border-radius: 5px;
}