@font-face {
  font-family: 'Heebo';
  src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
}

.homeTitle {
  margin: 100px;
}

.featImage2 {
  margin-top: 30px;
}

.subFeatImage3 {
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Heebo', sans-serif;
}

.movieTitle {
  font-size: larger;
  font-family: 'Heebo', sans-serif;
}

h3 {
  font-size: medium;
  font-family: 'Heebo', sans-serif;
}

hr {
  width: 350px;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}

section {
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  height: 10%;
  width: 50%;

}