.navFooter {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 70px;
    background-color: black;
    font-size: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.snake { 
    margin-bottom: 10px;
}

.snake a:hover {
    color: rgb(255, 255, 255);
}

.snake a:visited {
    color: rgb(255, 255, 255);
}

.snake a:link {
    color: rgb(255, 255, 255);
}

.separate {
    float: left;
    margin-left: 50px;
}
