.navFooter {
    margin-top: 200px;
    height: 70px;
    background-color: black;
    font-size: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.snake { 
    width: 40px;
}

.snake a:hover {
    color: rgb(255, 255, 255);
}

.snake a:visited {
    color: rgb(255, 255, 255);
}

.snake a:link {
    color: rgb(255, 255, 255);
}

